.space-10 {
    background-color: transparent;
    height: 10px;
}

.space-9 {
    background-color: transparent;
    height: 9px;
}

.space-8 {
    background-color: transparent;
    height: 8px;
}

.space-7 {
    background-color: transparent;
    height: 7px;
}

.space-6 {
    background-color: transparent;
    height: 6px;
}

.space-5 {
    background-color: transparent;
    height: 5px;
}

.space-4 {
    background-color: transparent;
    height: 4px;
}

.space-3 {
    background-color: transparent;
    height: 3px;
}

.space-2 {
    background-color: transparent;
    height: 2px;
}

.space-1 {
    background-color: transparent;
    height: 1px;
}
